<div ng-include="'components/navbar/navbar.html'"></div>
<script src="/bower_components/oauth-signature/dist/oauth-signature.js"></script>

<header>
  <div class="container" id="header">
    <h1> Plans tonight?</h1>
	<h3>See which bars are hoppin' tonight and RSVP ahead of time!</h3>
	<h4>Remember: take a cab and drink responsibly.</h4>
  </div>
</header>

<div class="container" id="search-bar">
  <form>
	<input type="search" ng-model="location" placeholder="Your location.">
	<button ng-click="search(location)">Search</button>
  </form>
</div>

<div class="container" id="search-results">
  <ul ng-repeat="bar in bars">
	<li id="search-result">
      <div class="row">
        <div class="col-md-3">
          <img src="{{bar.image_url}}" alt="Bar Picture" id="image"/>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <a href="#" ng-href="{{bar.url}}">{{bar.name}}</a>
			  <br>
			  <span>{{bar.location.display_address[0]}}</span>
            </div>
            <div class="col-md-4">
              <span>Rating: {{bar.rating}}</span>
            </div>
            <div class="col-md-4">
              <button id="going-display">0 Going</button>
            </div>
          </div>
          <div class="row">
		    <div>"{{bar.snippet_text}}"</div>
          </div>
        </div>
      </div>
	</li>
  </ul>
</div>

<!--
<div class="box">
        <img src="{{bar.image_url}}" alt="Bar Picture"/> 
	  </div>
	  <div class="box">
	    <div class="row">
	      <div class="col-sm-6 col-md-6 col-lg-6" id="bar-info">
	        <a href="#" ng-href="{{bar.url}}">{{bar.name}}</a>
			<span>Rating: {{bar.rating}}</span>
			<br>
			<span>{{bar.location.display_address[0]}}</span>
	      </div>
	      <div class="col-sm-6 col-md-6 col-lg-6">
            <div id="going-display">0 Going</div>
	      </div>
	    </div>
	  </div>
	  <div>"{{bar.snippet_text}}"</div>
-->


<footer class="footer">
  <div class="container">
	<p>FreeCodeCamp Basejump |
      <a href="http://www.freecodecamp.com/nancyj">Nancy Jiang</a>
    </p>
  </div>
</footer>
